* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(26, 25, 25);
    justify-content: space-between;
    display: flex;
    padding-inline: 50px;
}

.header-right{
    display: flex;
    gap: 50px;
    align-items: center;
}

.header .header-right a {
    text-decoration: none;
    margin-right: 20px; 
    font-size: 18px; 
    transition: color 0.3s;
    color:white;
}

.header .header-right a:hover {
    color: #ffd700;
}

.about-me {
    margin-top: 20px;
}

.about-me img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    
}

.project-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.project-card img {
    border-radius: 10px;
    margin: 50px 50px;
}

.project-card h2 {
    text-align: center;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card p {
    margin-bottom: 10px;
}

.project-card a {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

.project-card a:hover {
    background-color: #0056b3;
}

.project-card a:active {
    background-color: #003d7a;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 20px;

    a{
        text-decoration: none;
        text-align: center;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }
}

.form-group {
    display: grid;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

 

button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: white; 
    padding: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 1000; 
    
    
}

.footer .left p {
    margin: 0; /* Paragrafın kenar boşluğunu sıfırla */
}

.footer .right a {
    margin-left: 10px; /* Logo öğeleri arasında boşluk */
}

.footer .right a img {
    width: 30px; /* Logo öğe genişliği */
    height: auto; /* Logo öğe yüksekliği otomatik */
}


/* keyframe kullanarak sağdan sola animasyonu */
.fade-in {
    opacity: 0;
    animation: fade-in 3s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* keyframe kullanarak renk değiştirme animasyonu */
.color-change {
    color: red;
    animation: color-change 2s infinite alternate;
}

@keyframes color-change {
    from {
        color: red;
    }
    to {
        color: blue;
    }
}


